@model IEnumerable<BookList.Models.Book>

@*  asp-action → Which controller action should this form go to?  *@
@*  asp-for → Which model property is this HTML element connected to?  *@


<h2>Book List</h2>

<a asp-action="Create" class="btn btn-primary">
    Add Book
</a>

<table class="table table-bordered mt-3">

    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@item.Price</td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>

        </tr>
    }

</table>